---
title: SignalFx Monitoring and Alerting for VMware Tanzu (Beta)
owner: Partners
---

This documentation describes the SignalFx Monitoring and Alerting integration
for VMware Tanzu. Use this integration to monitor the health and
performance of your VMware Tanzu deployment using SignalFx. This
integration retrieves metrics about your VMware Tanzu deployment from the
Loggregator Firehose and sends them to SignalFx.  It also provides a buildpack
for the [SignalFx Smart Agent](https://github.com/signalfx/signalfx-agent) to
run the agent as a sidecar to PWS applications.

## <a id='overview'></a>Overview

SignalFx's integration with VMware Tanzu includes:

* At-a-glance visualization of key metrics
* Built-in dashboards
* PWS Buildpack for direct application monitoring and span host metadata addition
* BOSH Release of the Smart Agent for use in deployments

For more information about SignalFx, see https://signalfx.com.

## <a id="snapshot"></a>Product Snapshot


The following table provides version and version-support information about SignalFx Monitoring and Alerting for VMware Tanzu.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v5.11.3-1</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>Aug 9, 2021</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v2.9.x, v2.10.x</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service version(s)</td>
        <td>v2.9.x, v2.10.x, v2.11.x, v2.12.x</td>
    </tr>
    <tr>
        <td>BOSH stemcell version</td>
        <td>Ubuntu Xenial</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>All</td>
    </tr>
</table>


<p class="note"><strong>Note:</strong>
Upgrades are oonly availanle from v5.4.2-1. Upgrades from previous versions of the SignalFx Monitoring and Alerting tile to the v5.11.3-1 tile are not supported. If you previously installed any version of this tile prior to v5.4.2-1, uninstall it and install the latest version.</p>

## <a id="reqs"></a>Requirements

This integration has the following requirements:

+ Administrative access to a VMware Tanzu deployment
+ A SignalFx account and [access token](http://docs.signalfx.com/en/latest/admin-guide/tokens.html#tokens)

## <a id="feedback"></a>Feedback

To report bugs, feature requests, or questions about this integration, please
make a issue on the [Smart Agent Github
Repo](https://github.com/signalfx/signalfx-agent).

## <a id='license'></a>License

This integration is released under the Apache 2.0 license.
