---
title: SignalFx Monitoring and Alerting for PCF (Beta)
owner: Partners
---

<p class="note warning">

<strong>IMPORTANT: </strong>
The SignalFx Monitoring and Alerting tile is currently in beta and is intended for evaluation and test
purposes only. Do not use this product in a PCF production environment.
</p>

This documentation describes the SignalFx Monitoring and Alerting integration for Pivotal Cloud Foundry (PCF). Use this
integration to monitor the health and performance of your PCF deployment using SignalFx. This
integration retrieves metrics about your PCF deployment from the Loggregator Firehose and BOSH Health
Monitor and sends them to SignalFx.  This tile forwards all Firehose metrics, including any custom metrics you
might be sending to the Firehose through Metron.  It also sends the BOSH Health Monitor metrics for all BOSH-managed
VMs.

In addition to this tile, SignalFX also offers a [BOSH Release of our agent](https://github.com/signalfx/agent-boshrelease)
that can be mixed into your BOSH deployments in order to collect metrics on services running alongside your Cloud Foundry
deployment.

## <a id='overview'></a>Overview

SignalFx's integration with PCF includes:

* At-a-glance visualization of key metrics
* Built-in dashboards
* Documentation of the metrics collected by this integration

For more information about SignalFx, see https://signalfx.com.

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about SignalFx Monitoring and Alerting for PCF.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v0.10.2</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>June 27, 2017</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.9.x, v1.10.x, and v1.11.x</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>v1.9.x, v1.10.x, and v1.11.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, OpenStack, and vSphere</td>
    </tr>
</table>

## <a id="reqs"></a>Requirements

This integration has the following requirements:

+ Administrative access to a PCF deployment
+ A SignalFx account and [access token](http://docs.signalfx.com/en/latest/admin-guide/tokens.html#tokens)

## <a id="feedback"></a>Feedback

Please send any bugs, feature requests, or questions about this integration to support@signalfx.com.

## <a id='license'></a>License

This integration is released under the Apache 2.0 license.
