---
title: Installing and Configuring SignalFx Monitoring and Alerting for VMware Tanzu
owner: Partners
---

This topic describes how to install and configure SignalFx Monitoring and Alerting for VMware Tanzu.

##<a id='install'></a> Install and Configure SignalFx Monitoring and Alerting for VMware Tanzu

1. Download the product file from [Pivotal Network](https://network.pivotal.io/products/signalfx-monitoring-alerting/).

1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product file.

1. Under the **Import a Product** button, click **+** next to the version number of SignalFx Monitoring and Alerting for VMware Tanzu.
This adds the tile to your staging area.

1. Click the newly added **SignalFx Monitoring and Alerting for VMware Tanzu** tile.

1. In the **SignalFx Config** section, enter your SignalFx [access
token](http://docs.signalfx.com/en/latest/admin-guide/tokens.html#tokens) and
Realm.  Generally you can leave the SignalFx Ingest Base URL field blank.

1. In the **Nozzle Config** section, you need a UAA account for the Loggregator
in order to pull from the firehose via the RLP Gateway. See [The
cloudfoundry-firehose-nozzle monitor
doc](https://github.com/signalfx/signalfx-agent/blob/master/docs/monitors/cloudfoundry-firehose-nozzle.md)
for more information on how to setup the UAA user and which permissions are
needed.  The `cloudfoundry-firehose-nozzle` monitor is what is used by the job
that the tile deploys to collect firehose metrics.  The monitor will by default
only emit metrics that are marked default in the monitor doc previously linked.
If you want additional firehose metrics, you can add them as a YAML list in the
"Extra Firehose Metrics" section of this section of the nozzle config.

1. Click **Save**.

1. Return to the Ops Manager Installation Dashboard and click **Apply Changes** to install the SignalFx Monitoring and
Alerting for VMware Tanzu tile. After installation completes, a message appears stating that the changes have been applied.

Metrics from VMware Tanzu will begin streaming into SignalFx momentarily.

##<a id='troubleshooting'></a> Troubleshooting Tips

If metrics from VMware Tanzu don't appear in SignalFx after more than a few minutes, check the following:

* Verify that the SignalFx Monitoring and Alerting for VMware Tanzu VM has access through your firewall to Cloud Foundry APIs.

* Check the logs of the deployed SignalFx Monitoring and Alerting for Pivotal
  Platform for errors, such as connection issues to the CF or BOSH APIs,
  credential issues with either of those services, or errors reporting metrics to
  SignalFx for example, invalid access token and firewall preventing outbound
  connections.
