---
title: Installing and Configuring SignalFx Monitoring and Alerting for Pivotal Platform
owner: Partners
---

This topic describes how to install and configure SignalFx Monitoring and Alerting for Pivotal Platform.

##<a id='install'></a> Install and Configure SignalFx Monitoring and Alerting for Pivotal Platform

1. Download the product file from [Pivotal Network](https://network.pivotal.io/products/signalfx-monitoring-alerting/).

1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product file.

1. Under the **Import a Product** button, click **+** next to the version number of SignalFx Monitoring and Alerting for Pivotal Platform.
This adds the tile to your staging area.

1. Click the newly added **SignalFx Monitoring and Alerting for Pivotal Platform** tile.

1. In the **Bridge Config** section, enter your SignalFx [access
token](http://docs.signalfx.com/en/latest/admin-guide/tokens.html#tokens). Leave the SignalFx ingestion URL unchanged
(blank).

1. Fill in the other required fields.  You need a UAA client account for both the CF API and the BOSH Director. See
[the Github repo for the app that backs this tile](https://github.com/signalfx/signalfx-cloudfoundry-bridge) for more
information on these config values.  The envvars under the `Configuration` section in the README of that repo correspond
directly to the values in the tile config page in Ops Manager.

1. Click **Save**.

1. Return to the Ops Manager Installation Dashboard and click **Apply Changes** to install the SignalFx Monitoring and
Alerting for Pivotal Platform tile. After installation completes, a message appears stating that the changes have been applied.

##<a id='bosh-hm-metrics'></a> Configure BOSH HM Metrics

1. Click **Return to Product Dashboard**.

1. Click the **SignalFx Monitoring and Alerting for Pivotal Platform** tile and select the **Status** tab.

1. Record the IP address of the **signalfx_bridge** job.

1. Return to the **Installation Dashboard**.

1. Click the **BOSH Director** tile and select **Director Config**.

1. In the **Metrics IP Address** field, enter the IP address of the **signalfx_bridge** job recorded previously. Click **Save**.

1. In the Pending Changes view, click **Apply Changes**. When complete, a message appears stating that the changes have
been applied.

1. Click **Return to Product Dashboard**. SignalFx Monitoring and Alerting for Pivotal Platform is now installed and configured.

Metrics from Pivotal Platform will begin streaming into SignalFx.

##<a id='troubleshooting'></a> Troubleshooting Tips

If metrics from Pivotal Platform don't appear in SignalFx after more than a few minutes, check the following:

* Verify that the SignalFx Monitoring and Alerting for Pivotal Platform VM has access through your firewall to the BOSH Director
API and Cloud Foundry APIs.

* Check the logs of the deployed SignalFx Monitoring and Alerting for Pivotal Platform for errors, such
as connection issues to the CF or BOSH APIs, credential issues with either of those services, or errors reporting
metrics to SignalFx for example, invalid access token and firewall preventing outbound connections.
