---
title: SignalFx Monitoring and Alerting for PCF Release Notes
owner: Partners
---

### v0.11.5

**Release Date:** May 2, 2019

 - Changes the default stemcell to be Ubuntu Xenial

<p class="note"><strong>Note:</strong>
There is no upgrade path to the v0.11.5 release. Upgrades from previous versions of the SignalFx Monitoring and Alerting tile to the v0.11.5 tile are not supoorted. If you previously installed any version of this tile prior to v0.11.5, uninstall it and install the latest version.

### v0.11.4

**Release Date:** May 3, 2018

 - Allow the disabling of the TSDB server that reads BOSH HM metrics
 - Updating tile to use new tile generator for improved compatibility

<p class="note"><strong>Note:</strong>
There is no upgrade path to the v0.11.4 release. Upgrades from previous versions of the SignalFx Monitoring and Alerting tile to the v0.11.4 tile are not supoorted. If you previously installed any version of this tile prior to v0.11.4, uninstall it and install the latest version.</p>

### v0.11.2

**Release Date:** November 10, 2017

 - Enables explicit proxy configuration in tile settings.
 - Special handling of BOSH HM Forwarder metrics to strip off the "bosh-hm-forwarder" prefix so that metric names match what the SignalFx BOSH HM listener sends.

### v0.10.2

**Release Date:** June 27, 2017

 - Internally, SignalFx Monitoring and Alerting for PCF now refers to the BOSH Director by hostname instead of by IP address.
  This corrects an issue where the tile could not communicate with the BOSH Director if the IP address changed.

### v0.10.1

**Release Date:** June 15, 2017

 - Corrected a few metric types
 - Scrubbed credentials from logs
 - Tweaked dimensions for app metadata

### v0.10.0

**Release Date:** June 1, 2017

Included in this release:

* Revamp of integration that is now a BOSH release wrapped in a tile instead of a Garden app.

* The JMX Bridge is no longer used, so it can be uninstalled if not used for anything else.

* Now sends container metrics.

### v0.9.1

**Release Date:** May 12, 2017

Due to CVE-2017-4975, this is a rerelease of v0.9.0 to ensure that the new tile
generator is used when building the tile.

### v0.9.0

**Release Date:** March 31, 2017

This is the initial release of the SignalFx Monitoring and Alerting for PCF. Use this integration to 
monitor the health and performance of your Pivotal Cloud Foundry deployment using SignalFx. This integration
connects to the Pivotal JMX Bridge, retrieves metrics about your Pivotal Cloud Foundry deployment, and sends them to SignalFx. 
