---
title: Using SignalFx Monitoring and Alerting for PCF
owner: Partners
---

This topic describes how to use the SignalFx Monitoring and Alerting for PCF.

##<a id='using'></a> Using SignalFx Monitoring and Alerting for PCF

Use this integration to stream metrics about Pivotal Cloud Foundry's health and performance into SignalFx. After installing the tile, get up and running quickly with the following features:

* At-a-glance visualization of key metrics in the [Infrastructure Navigator](http://docs.signalfx.com/en/latest/built-in-content/infra-nav.html#infra)
* [Built-in dashboards](http://docs.signalfx.com/en/latest/built-in-content/built-in-dashboards.html) for Pivotal Cloud Foundry
* Documentation of the metrics collected by this integration in the [SignalFx Metrics Finder](http://docs.signalfx.com/en/latest/easy-charts/easy-charts.html#finding-metrics-and-events)
